header {
    width: 100%;
}

main {
    width: 100%;
}
.logo {
    display: flex;
    width: 80px;
    margin: 16px;

}
.girl {
    display: flex;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
#menu-checkbox {
    display: none;
}

.menu {
    display: none;
}

#menu-checkbox:checked ~ .menu{
    display: block;
}

.item-menu {
    display: flex;
    color: #1C1B1F;
    text-decoration: none;
    padding: 1rem;
    font-family:RobotoCondensed-Regular ;
    background-color: #F6F6F6;
  
}
nav {
   position: absolute;
   right: 0rem;
}
header {
    position: relative;
 }    


.menu ul {
    list-style: none;
    padding: 10px;
}
.item-menu:hover {
    color: #FC4D05;
    font-size: 1.2rem ;
}
.hamburger-icon {
display: flex;
position: absolute;
top: 5rem;
right: 1rem;
 
 
}
@font-face {
    font-family: RobotoCondenced-Italic;
    src: url(fonts/RobotoCondensed-Italic.ttf);
}


.header {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #F6F6F6 ;
    color: #1C1B1F;
    font-family: RobotoCondenced-Italic;
}

@font-face {
    font-family:RobotoCondensed-Regular ;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

.newitems {
    display: block;
    position: relative;
    padding: 20px;
    padding-left: 40px;
    margin: -1%;
    font-family: RobotoCondensed-Regular;
    background-color: #FC4D05;
    color: #1C1B1F;
    text-align: left;
}
.item-wraper {
    display:flex;
    align-items:flex-end;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;


}
.item-img-checkout{
    display: flex;
    width: 40%;
    align-items: center;
}

.item-img {
    display: flex;
    width: 70%;
    align-items: center;

}
.item-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 45%;
    align-items: center;
    padding-bottom: 1rem;
    
}

@font-face {
    font-family: UrbanistLight;
    src: url(fonts/Urbanist-Light.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

.item {
    display: flex;
    align-items: center;
    justify-items: center;
    font-family:UrbanistLight ;
    font-size: 0.7rem;

}
.itembold {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:RobotoMedium ;
    font-size: 0.6rem;

}

.buybutton {
    display: flex;
    text-decoration: none;
    border: 1px solid #FC4D05;
    padding: 10px 18px;
    font-family: RobotoMedium;
    color: #1C1B1F;
    
}

.buybutton:hover {
    background-color: #FC4D05;
    
}

.headershowjackets {
   font-family: RobotoCondensed-Regular;
   padding: 3%;
}

.jacketlist {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-gap: 300px;
    padding: 100px;
    grid-template-columns: 300px 300px;
}

.checkbuttom {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    background-color: #1C1B1F;
    padding: 16px 37px;
    font-family: RobotoMedium;
    color: #F6F6F6;
}

.about-first-pic {
    width: 100%;
    display: flex;

}
.about-text-first{
    background-color: #1C1B1F;
    display: flex;
    position: absolute;
    top: 25rem;
    font-family: RobotoCondensed-Regular;
    font-size: 1.8em;
    color: #F6F6F6;
    right: 1.3rem;
   
}

.about-text-sec{
    display: flex;
    position: absolute;
    top: 28rem;
    font-family: RobotoCondensed-Regular;
    font-size: 0.8em;
    color: #F6F6F6;
    right: 1.3rem;
    left: 8rem;

}

.about-text-third {
    display: flex;
    position: absolute;
    top: 31rem;
    font-family: RobotoCondensed-Regular;
    font-size: 0.8em;
    color: #F6F6F6;
    right: 1rem;
    left: 8rem;

}

.girl-explorer{
    width: 10rem;
    height: 12rem;
    padding-top: 2rem;
}

.text-girl-explorer {
    display: flex;
    font-family:RobotoCondensed-Regular;
    font-size: 0.8em;
    color:#1C1B1F;
    float: right;
    padding: 1rem;
    height: 10rem;
    padding-top: 2rem;
    
}

.image-text-wraper-girl{
    display: flex;
    flex: auto;
    height: 15rem;
    justify-content: space-between;
    padding-bottom: 1;
    

  }

.about-head-two{
    position: relative;
    font-size: 1.5rem;
    font-family:RobotoCondensed-Regular;
    text-align: center;
    padding-top: 2rem;

  } 

.image-text-wraper-boy{
    display: flex;
    flex: auto;
    justify-content: space-between;
    padding-bottom: 2rem;

}

.boy-explorer{
    display: flex;
   width: 10rem;
   height: 6rem;
   padding-bottom: 2rem;
}
.text-boy-explorer{
    display: flex;
    font-family:RobotoCondensed-Regular;
    font-size: 0.8em;
    color:#1C1B1F;
    float: right;
    padding: 1rem;
}
 
.conone,
.contwo,
.conthree,
.confour,
.confive,
.consex {
    position:relative;
    align-content: center;
    justify-content: center;
    font-family:RobotoCondensed-Regular;
    left: 30px;
    padding: 10px;
    font-size: 1em;
    color:#1C1B1F
}
.conone {
    font-size: 2em;
    
}
.conthree,
.confive,
.consex {
   color: #8F8B8B;
   
}

footer {
    background-image: url(images/footer.jpg);
    width: 100%;
    background-size: 100% 100%;
}

.footer-wraper-text {
   display: flex;
   flex-direction: column;
   color: #FFF;
   font-family: RobotoCondensed-Regular;

}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
 }

 .button-footer {
    text-decoration: none;
    display: inline-block;
    position: relative;
    justify-content: space-around;
    color: #1C1B1F;
    background-color: #F6F6F6;
    border-color: #1C1B1F;
    padding: 12px 15px;
    font-family: RobotoCondensed-Regular;
    text-align: center;
    width: 120px;
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
 
 }

.button-footer:hover {
    background-color: #8F8B8B;
}
.p-bold-footer {
    color: #FFF;
    font-family: RobotoCondensed-Regular;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 0rem;

}

.p-footer {
    color: #FFF;
    font-family: RobotoCondensed-Regular;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-left: 2rem;
 
}

.item-card-checkin{
  display: grid;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  align-items: center;
  padding-bottom: 1rem;

}

.buybutton-checkout {
    display: flex;
    text-decoration: none;
    border: 1px solid #FC4D05;
    padding: 10px 18px;
    font-family: RobotoMedium;
    color: #1C1B1F;
   
  }

  .checkout-text {
    font-family: RobotoCondensed-Regular;
    padding: 3%;

}

.img-box-checkout{ 
    display: flex;
    justify-content: center;
}

@media screen and (min-width:601px){
    .item {
    font-size: 1rem;
}

    .itembold {
    font-size: 1.2rem;

}

.item-img-checkout {
    width: 40%;
    grid-row: 2;

}
    footer {
    height: 700px;

}
    .p-bold-footer {
    font-size: 6rem;
    margin-top: 10rem;;

}
    .p-footer {
    font-size: 4rem;
}
    .buybutton {
    padding: 16px 32px;

}
    .button-footer {
    padding: 16px 32px;
    width: 200px;
    font-size: 1.5rem;
    justify-content: space-evenly;
    margin-top: 5rem;
}
    .logo {
    width: 100px;
}

    .hamburger-icon {
    display: none;
}

    #menu {
    display: none;
}

   .nav-wrapper {
   gap: 30px;
}

    .menu {
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 100px;
    gap: 20px;
    padding-left: 200px;
    font-family: RobotoCondensed-Regular;
}

    nav {
    text-decoration: none;
    display: flex;
}

    .hamburger-icon{
    display: none;
}
   .item-menu{
    background-color: #FFF;
    display: flex;
    position: relative;
    top: -2rem;
 
}
    .about-text-first{
    display: flex;
    top: 90rem;
    font-size: 5em;
    right: 5rem;
   
}
    .about-text-sec{
    top: 100rem;
    font-size: 2.2em;
    right: 2rem;
    left: 50rem;

}
    .about-text-third {
    top: 110rem;
    font-size: 2.2em;
    right: 2rem;
    left: 50rem;


}
    .girl-explorer{
    width: 27rem;
    height: 33rem;
    padding-left: 10rem;
   
}

.about-head-two {
    font-size: 3rem;

}

    .text-girl-explorer {
    font-size: 2em;
    padding: 3rem;
    height: 10rem;
    padding-top: 5rem;
    padding-left: 18rem;
    padding-right: 18rem;
    
}

    .image-text-wraper-girl{
    display: flex;
    flex: auto;
    height: 40rem;
    justify-content: space-between;
  
}
    .image-text-wraper-boy{
    padding-bottom: 2rem;

}

    .boy-explorer{
    height: 40%;
    width: 70%;
    
}
.text-boy-explorer{
    font-size: 2em;
    padding: 5rem 10rem;
}
.item-card-checkin { 
display: grid;
grid-template-columns: 1fr 1fr;
width: 100%;
}

.checkin-wrapper { 
    display: grid;
    gap: 1rem;
    grid-template-columns: 4;
    justify-items: center;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
    }

    .img-box-checkout{ 
        display: flex;
        justify-content: center;
        
    }
}